1. Escolha da Palavra

X O jogo possui uma lista de palavras de 5 letras previamente cadastradas.
X Uma palavra é sorteada aleatoriamente no início da partida.
X A palavra escolhida fica oculta para o jogador. 

2. Feedback Visual com Cores
Após cada tentativa, o jogo exibe a palavra digitada novamente, destacando
cada letra com uma cor diferente:

● Vermelho escuro: letra inexistente na palavra.
● Amarelo escuro: a letra existe, mas está na posição errada.
● Verde escuro: letra correta na posição correta.
● Cinza escuro: letra já acertada.

3. Condição de Vitória
● Se a palavra digitada for exatamente igual à palavra escolhida, o jogador
vence.
● O jogo exibe uma mensagem de sucesso e aguarda o jogador pressionar
ENTER para sair.

4. Condição de Derrota
● Se o jogador não acertar a palavra antes do fim das tentativas (5), ele
perde.
● O jogo exibe uma mensagem de derrota e aguarda o jogador pressionar
ENTER para sair.e